@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet"');

@mixin reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

$h-color:     #f7f7f7;
$yellow:      #D0BB57;
$txt-color:   #e2ecff;
$estilos: (
  p10: 10px,
  mb20: 20px,
  mt20: 20px,
  fsize30: 30px,
  tcentro: center,
  fsize20: 20px,
  bg-size: cover,
);

@media screen and (max-width: 800px) {
    header {
      flex-direction: column;
    }
    .nav_menu {
      padding: 10px 0px;
    }
    .videoplay {
      max-width: 80%;
      max-height: auto;
    }
    .servicios-grid {
      flex-direction: column;
      max-width: 100%;
      align-items: center;
    }
    .blog-card{
      width: 400px;
      height: 300px;
    }
    .contacto {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .lista {
      text-align: map-get($estilos, tcentro );
    }
}



@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

@keyframes bg-img {
  0% {
      background-image: url(../imagenes/bg-img.jpg);
      
      
  }
  50% {
      background-image: url(../imagenes/bg-img2.jpg);
      
  }
  100% {
      background-image: url(../imagenes/bg-img.jpg);
  }
}